<div class="container">
  <div class="row my-3">

    <div class="col-7 d-flex justify-content-end">
      <img src="assets/logo.png" alt="Logo" height="80" width="185">
    </div>

    <div class="col-5 d-flex justify-content-end">
      <button class="btn">LOG IN</button>
      <button class="btn">SIGN UP</button>
    </div>

  </div>
</div>

<div class="container-fluid">
  <shared-navigation-bar></shared-navigation-bar>
</div>

<section class="container">
  <router-outlet></router-outlet>
</section>