<div class="container">
  <shared-banner></shared-banner>
    <auth-profile></auth-profile>
</div>
<div class="container-fluid">
  <shared-navigation-bar></shared-navigation-bar>
</div>

<div class="row">
  <div class="col d-flex justify-content-center align-items-center">
    <button type="button" 
    class="btn text-dark fw-bold mt-5" 
    id="starship-button"
    [routerLink]= "['/starships']"
    >Ver Naves</button>
  </div>
</div>

<section class="container">
  <router-outlet></router-outlet>
</section>