<div class="row">
  <div class="col-10 d-flex justify-content-end">
    @if (!userEmail) {
      <button class="btn" [routerLink]="['/auth/login']">LOG IN</button>
      <button class="btn" [routerLink]="['/auth/register']">SIGN UP </button>
    }
    @else {
      <button class="btn" (click)="onLogout()">SIGN OUT</button>
    }
  </div>

  @if (userEmail) {
    <div class="col-2 d-flex justify-content-end align-items-center">
      <span class="text-white">{{ userEmail }}</span>
    </div>
  }
</div>
