<div class="container d-flex justify-content-center align-items-center vh-100">
    <form class="row bg-light card login-card p-2" 
      [formGroup]="registerForm"
      (ngSubmit)="onSubmit()"
      autocomplete="off"
    >
      <div class="card-body d-flex flex-column justify-content-center ">
        <h2 class="card-title">Registrate</h2>
        <p class="card-text">
          Registrate para una experiencia de StarWars en español
        </p>
        <input class="form-control my-2 field" type="email" placeholder="email"
          formControlName = "email"
        >
        <input class="form-control my-2 field" type="password" placeholder="password"
          formControlName = "password"
        >
        <button type="submit" class="btn text-dark fw-bold" id="register-button">Registrarse</button>
        @if (registerForm.invalid) {
          <div>
            <p class="text-danger text-center mt-3"> User is already registered</p>
          </div>
        }
      </div>
    </form>
  </div>
