h2,h5,p {
    color: #7c7c7c
}

.starship-card {
    background-color: #212529;
    border-radius: 1%;
    padding: 2%;
}

.vertical-separator {
    border-left: 1px solid red;
    height: 100%; 
}
    